dist: trusty
sudo: false

language: node_js
node_js:
  - '10'

branches:
  only:
    - develop
    - master

cache:
  directories:
    - ./node_modules

install:
  - yarn

script:
  - yarn run test --watch=false
  - ng build --aot --prod --project mjaox-mjaox --output-path dist

deploy:
  provider: firebase
  token:
    secure: $FIREBASE_TOKEN

notifications:
  email:
    on_failure: change
    on_success: change
