html {
  height: 100%;
}

body {
  display: block;
  height: 100%;
  min-height: 100%;
}

mjaox-root {
  display: flex;
  min-height: 100%;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

a,
span,
i,
b,
p {
  line-height: 1.2rem;
}

a,
a:visited {
  color: #333;
}
