.mjaox-toolbar {
  background-color: #333;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
}

.mjaox-toolbar__spacer {
  flex-grow: 1;
}

.mjaox-toolbar__links {
  display: flex;
  align-items: center;

  ul {
    display: flex;
  }

  .mjaox-toolbar__link {
    min-width: 110px;
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      color: #fff;
    }
  }
}

.mjaox-body {
  margin: 2rem auto;
  max-width: 700px;
}

.mjaox-portfolio {
  padding: 1rem 0.1rem;
}
