<div class="mjaox-toolbar mat-elevation-z8">
  <div class="mjaox-toolbar__logo">
    <img src="/assets/logo.svg">
  </div>
  <div class="mjaox-toolbar__spacer"></div>
  <nav class="mjaox-toolbar__links">
    <ul>
      <li class="mjaox-toolbar__link">
        <a href="javascript:void()" mat-button>
          <mat-icon aria-hidden="true">code</mat-icon>
          Blog
        </a>
      </li>
      <li class="mjaox-toolbar__link">
        <a href="javascript:void()" mat-button>
          <mat-icon aria-hidden="true">info</mat-icon>
          About
        </a>
      </li>
      <li class="mjaox-toolbar__link">
        <a href="javascript:void()" mat-button>
          <mat-icon aria-hidden="true">phone</mat-icon>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mjaox-body">
  <mat-tab-group>
    <mat-tab label="Code">
      <h1 class="mjaox-header">Use Ngrx</h1>
      <p class="mjaox-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae risus sit amet mi ultrices venenatis efficitur
        eu sapien. Phasellus a mi libero. Praesent tincidunt aliquam elit sed tincidunt. Nam in rutrum dui. Morbi viverra
        tincidunt lobortis. Ut consectetur elit ornare dui sagittis pharetra. Duis cursus suscipit tortor eget condimentum.
        Etiam hendrerit dictum blandit. Suspendisse iaculis justo id nisl tincidunt gravida. Duis sed nunc leo. Curabitur
        vitae consequat felis, a tempor purus. Praesent fermentum blandit tempus.

      </p>
      <p class="mjaox-paragraph">Maecenas pulvinar pharetra enim. Sed aliquam nunc sapien, ut facilisis ipsum auctor vitae. Duis vulputate mi a arcu
        consequat mattis. Aliquam iaculis nec ipsum eget tincidunt. Sed ac ipsum sollicitudin, posuere tellus eu, vestibulum
        massa. Morbi ornare dolor ac dolor finibus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Nam et ultrices lorem. Vivamus augue sem, molestie eu consectetur a, euismod a dui.
        Mauris nec augue et lacus consequat euismod. Suspendisse tempus volutpat quam, eget commodo est. Donec eget elementum
        ex.
      </p>
      <mat-chip-list>
        <mat-chip>NGRX</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip col-sm-6or="primary" selected>New</mat-chip>
        <mat-chip col-sm-6or="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
    </mat-tab>
    <mat-tab label="Portfolio">
      <div class="mjaox-portfolio row">
        <div class="mjaox-portfolio__item col-sm-6 mb-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="mjaox-portfolio__item col-sm-6 mb-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="mjaox-portfolio__item col-sm-6 mb-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="mjaox-portfolio__item col-sm-6 mb-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Contacts"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
