<div class="mjaox d-flex flex-grow-1 flex-column bd-highlight">
  <mjaox-toolbar
    class="d-flex bd-highlight mb-3"
    [options]="toolbarOptions"
  ></mjaox-toolbar>
  <div class="mjaox-body d-flex bd-highlight flex-grow-1 container-fluid">
    <router-outlet></router-outlet>
  </div>
  <div class="mjaox-footer d-flex bd-highlight mat-elevation-z8">
    <div class="row">
      <div class="col">Twitter</div>
      <div class="col">GitHub</div>
      <div class="col">LinkedIn</div>
    </div>
  </div>
</div>
